@model IEnumerable<JuliePro.Models.Trainer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Photo
            </th>
            <th>
                Speciality
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                
                <img src="~/images/Trainers/@item.Photo" style="width:200px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.speciality.Name)
                
                
            </td>
            <td>
					<partial name="_TrainerCreateEditDelete" model="item" />
            </td>
        </tr>
}
    </tbody>
</table>
